@import 'reset.css';
@import 'common.css';

/* header */
body {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    min-width: 1190px;
    letter-spacing: -.2px;
}

header .header_area {
    width: 1130px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}

/* main */
main {
    width: 1130px;
    padding: 20px 30px;
    box-sizing: content-box;
    overflow: hidden;
    margin: 0 auto;
}

.left_wrap {
    width: 750px;
    float: left;
}
.right_wrap {
    width: 350px;
    float: right;
}

/* footer */

footer {
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}

footer .footer_inner {
    width: 1190px;
    padding: 0 30px 92px;
    margin: 0 auto;
}