/* inner_wrap1 ( sc_visual / sc_banner ) */

.inner_wrap1 {
    overflow: hidden;
}

/* sc_visual */

.sc_visual {
    width: 770px;
    height: 350px;

    float: left;
}
.sc_visual .swiper-slide img {
    z-index: -1;
}
.sc_visual .tab_nav {
    width: 80px;
    height: 175px;
    float: left;
}
.sc_visual .tab_nav a {
    display: block;
    width: 100%; height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    text-align: center;

    font-size: 14px;
    font-weight: 600;

    background-color: #d2e1e9;
    color: #333;
    position: relative;
}
.sc_visual .tab_nav a.on {
    background-color: #0158a8;
        color: #fff;
}

.sc_visual .tab_nav a::before {
    content: '';
    display: block;
    /* position: absolute;
    top: 0; left: 0; */
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    
    margin: 0 auto 10px;
}

.sc_visual .tab_nav a i {
    content: '';
    width: 45px; height: 45px;
    display: inline-block;
    background: #0158a8;

    position: absolute;
    top: 40%; right:-45px;
    transform: translateX(-50%) rotate(45deg);
    z-index: 15;
    
    opacity: 0;
    visibility: hidden;
}

.sc_visual .tab_nav a.on i {
    opacity: 1;
    visibility: visible;
}

.sc_visual .tab_nav .news::before {
    background-position: 0 0;
}

.sc_visual .tab_nav .part::before {
    background-position: -50px 0;
}


.sc_visual .tab_con {
    background: rgba(0, 0, 0, 0.26);
    height: 100%;
    width: calc(100% - 80px);

    float: right;
    position: relative;
}

.sc_visual .tab_con .cont {
    position: absolute; top: 0; left: 0;
    visibility: hidden;
    width: 100%;height: 100%;
}

.sc_visual .tab_con .cont.on {
    visibility: visible;
    position: initial;
}

.sc_visual .slide01 {
    font-size: 14px;
    letter-spacing: -0.7px;
}

.sc_visual .slide01 p,
.sc_visual .slide02 p {
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,0.7);
    white-space: nowrap;
    line-height: 40px;
    color: #fff;
    position: absolute;
    bottom: 0; left: 0;
    padding-left: 10px;
    box-sizing: border-box;
    
}

.sc_visual .controls {
    /* position: absolute;
    bottom: 16px; right: 0; */
    /* overflow: hidden; */
    /* height: 40px; */
    /* width: 54px;
    height: 15px; */
    /* z-index: 15;

    width: 90px; */
}

.sc_visual .controls i {
    display: inline-block;

}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.sc_visual .controls {
    width: 70px;
    height: 100%;
    position: absolute;
    bottom: 0; right: 0;  /* cont-시민때문에 bottom 16해놨고 그거 세팅다하면 bottom 0하면됨*/
    z-index: 15;
    height: 40px;
}


/* 컨트롤 숫자 */ 
.swiper-pagination {
    color: #fff;
    width: auto;
    left:-40px;
    font-size: 13px;
    letter-spacing: -0.7px;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
}

/* 컨트롤 이전 */
.swiper-button-prev {
    left: 0;
}
.sc_visual .swiper-button-prev i {
    display: inline-block;
    /* width: 13px; height: 13px; */
    width: 18px; height: 18px;
    background-position: -241px -285px;
}


/* 컨트롤 버튼 */
.sc_visual .controls .btn {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
    display: inline-block;
    width: 18px; height: 18px;
    z-index: 15;
}
.sc_visual .controls .btn a {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
}


i {
    pointer-events: none;
}

.controls .btn .start {
    display: none;
}


.sc_visual .controls .btn .start i {
    display: inline-block;
    width: 18px; height: 18px;
    background-position: -269px -285px;
    
    
    /* visibility: hidden; */
}
.sc_visual .controls .btn .stop i {
    display: inline-block;
    width: 18px; height: 18px;
    background-position: -285px -285px;
}

/* 컨트롤 다음 */
.swiper-button-next {
    right: 0;
}
.sc_visual .swiper-button-next i {
    display: inline-block;
    /* width: 13px; height: 13px; */
    width: 18px; height: 18px;
    background-position: -256px -285px;
}


/* .sc_visual .swiper-button-prev {
    float: left;
    left: 0;
} */
/* .sc_visual .swiper-button-prev i {
    background-position: -50px -46px;
    width: 15px; height: 15px;
}
.sc_visual .swiper-button-next {
    float: right;
    right: 0;
} */
/* .sc_visual .swiper-button-next i {
    background-position: -88px -46px;
    width: 15px; height: 15px;

} */

/* .sc_visual .btn {
    display: inline-block;
    width: 15px; height: 15px; */
    /* float: right; */
    /* background: #fff;
    z-index: 10;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

} */
/* .sc_visual .btn button {
    position: absolute;
    top: 0; left: 0;
    background: transparent;
    border:none;
    width: 18px; height: 18px;
}
.sc_visual .btn .start i {
    background-position: -65px -46px;
    background: #000;
} */

/* .sc_visual .con_wrap {
    width: 54px;
    height: 100%;
    overflow: hidden;
    position: relative;
} */





/* sc_banner */

.sc_banner {
    width: 360px;
    height: 350px;

    float: right;
    
}

.sc_banner .wrap01 {
    display: block;
    background: url(../images/banner.gif) no-repeat;
    background-size: cover;
    width: 360px;
    height: 213px;
}

.sc_banner .wrap01 a {
    display: block;
}
.sc_banner .wrap01 .ba01 {
    height: 93px;
}

.sc_banner .wrap01 .ba02 {
    height: 120px;
}

.sc_banner .wrap01 .ba01 {
    position: relative;
}

.sc_banner .wrap01 .ba02 {
    position: relative;
}

.sc_banner .wrap01 .ba01 span,
.sc_banner .ba02 .clock {
    position: absolute;
}
.sc_banner .wrap01 .ba01 .number {
    top: 63px;
    left: 50%;
}

.sc_banner .wrap01 .ba01 .num01 {
    margin-left: -105px;
}
.sc_banner .wrap01 .ba01 .num02 {
    margin-left: 57px;
}

.sc_banner .wrap01 .ba02 span {
    display: block;
}



.sc_banner .clock {
    top: 11px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
    left: initial;
    right: 20px;
}
.sc_banner .number {
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}



.sc_banner .wrap02 {
    position: relative;
    margin-top: 7px;
}

.sc_banner .link1 {
    position: absolute;
    bottom: 15px;
    left: 15px;
}


.sc_banner .link2 {
    position: absolute;
    bottom: 15px;
    left: 119px;
}

/* .num_wrap {
    overflow: hidden;
} */

.num00 {
    position: absolute;
    top: 62%;
    margin-left: 48px;
    /* left: 50%;
    margin-left: -156px; */
}

.num_wrap:nth-child(2) div {
    position: absolute;
    top: 51%;
    margin-left: 140px;
}

.num_wrap:nth-child(3) > div:nth-child(1) {
    position: absolute;
    top: 51%;
    margin-left: 194px;
}

.num_wrap:nth-child(3) > div:nth-child(2) {
    position: absolute;
    top: 51%;
    right: 25px;
}

/**/

.btn {
    /* position: relative;
    display: block;
    height: 50px; */
}
.btn a {
    /* position: absolute;
    top: 0; left: 0; */
}

/* sc_service */

.sc_service {
    padding: 50px 0 0;
}
.sc_service .wrap {
    position: relative;
}
.sc_service .title {
    border-bottom: 1px solid #dbdbdb;
    line-height: normal;
}
.sc_service .wrap > a {
    position: absolute;
    /* top: t0; right: 0;
    transform: translateY(-50%); */
    right: 0; top: 0;

    width: 112px;
    height: 29px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 15px;
    padding-left: 13px;
    line-height: 28px;
}
.sc_service ul {
    overflow: hidden;
    display: table;
    width: 100%;
}

.sc_service ul li {
    display: table-cell;
    width: auto;
}

.sc_service ul li a {
    display: block;
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
}

.sc_service ul li a::before {
    content: '';
    display: block;
    width: 60px; height: 60px;
    margin: 0 auto 10px;
}
.sc_service .ico_ser01::before {
    background-position: -360px 0;
}
.sc_service .ico_ser02::before {
    background-position: 0 0;
}
.sc_service .ico_ser03::before {
    background-position: -120px 0;
}
.sc_service .ico_ser04::before {
    background-position: -300px 0;
}
.sc_service .ico_ser05::before {
    background-position: -180px 0;
}
.sc_service .ico_ser06::before {
    background-position: -960px 0;
}
.sc_service .ico_ser07::before {
    background-position: -780px 0;
}
.sc_service .ico_ser08::before {
    background-position: -840px 0;
}
.sc_service .ico_ser09::before {
    background-position: -1020px 0;
}
.sc_service .ico_ser10::before {
    background-position: -1080px 0;
}
.sc_service .ico_ser11::before {
    background-position: -600px 0;
}


/* sc_full */

.sc_full {
    margin-top: 35px;
    background: #eff4f8;
}
.sc_full .inner {
    display: table;
    table-layout: fixed;
}
.sc_full .inner a {
    padding: 20px 0;
    display: table-cell;
    position: relative;
}

.sc_full .inner a+a::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0px;
    width: 1px;
    height: 60px;
    background: #dbdbdb;
    margin: 20px 0;
}


/* inner_wrap2 : sc_event , sc_month , sc_link */

.inner_wrap2 {
    padding: 50px 0 50px;
    border-bottom: 2px solid #222222;
    font-size: 15px;

    overflow: hidden;
}

.inner_wrap2 .title {
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 10px;
    /* padding-bottom: 5px; */
}

.inner_wrap2 > div {
    float: left;
    width: calc((100% - 72px) / 3);
    margin-right: 36px;
}

.inner_wrap2 > div:last-child {
    margin-right: 0;
}
.inner_wrap2 > div:last-child .title {
    border-bottom: none;
    margin-bottom: 0;
}

.inner_wrap2 ul li em {
    margin: 0 9px 0 0;
}
.inner_wrap2 ul li {
    padding: 6px 0 6px 0;
}
.inner_wrap2 ul li a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: normal;
}

.inner_wrap2 ul li:nth-child(1) em {color: #028ab6;}
.inner_wrap2 ul li:nth-child(2) em {color: #c35c3c;}
.inner_wrap2 ul li:nth-child(3) em {color: #069363;}
.inner_wrap2 ul li:nth-child(4) em {color: #599100;}
.inner_wrap2 ul li:nth-child(5) em {color: #069363;}

.sc_month li:nth-child(1) em {color: #069363;}
.sc_month li:nth-child(2) em {color: #c35c3c;}
.sc_month li:nth-child(3) em {color: #9b64d3;}
.sc_month li:nth-child(4) em {color: #028ab6;}
.sc_month li:nth-child(5) em {color: #9b64d3;}


.sc_link {
    margin: 0;
    padding: 17px 5px 7px 20px;
    background: #eff4f8;
    box-sizing: border-box;
}

.sc_link ul {
    overflow: hidden;
}

.sc_link ul li {
    float: left;
    width: calc(100% / 2);
}

.sc_link a {
    position: relative;
    padding-left: 10px;
    box-sizing: border-box;
}
.sc_link a::before {
    content: '';
    position: absolute;
    background: #666666;
    width: 2px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* sc_part */

.sc_part {
    padding-top: 40px;
}

.sc_part ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.sc_part ul li {
    display: table-cell;
    text-align: center;
}

.sc_part ul li a {
    
}
.sc_part ul li a::before {
    display: block;
    content: '';
    width: 85px;
    height: 85px;
    margin: 0 auto 15px;
}

.sc_part ul li .ico_pa01::before {background: url(../images/icon1.png) no-repeat;}
.sc_part ul li .ico_pa02::before {background: url(../images/icon2.png) no-repeat;}
.sc_part ul li .ico_pa03::before {background: url(../images/icon3.png) no-repeat;}
.sc_part ul li .ico_pa04::before {background: url(../images/icon4.png) no-repeat;}
.sc_part ul li .ico_pa05::before {background: url(../images/icon5.png) no-repeat;}
.sc_part ul li .ico_pa06::before {background: url(../images/icon6.png) no-repeat;}
.sc_part ul li .ico_pa07::before {background: url(../images/icon7.png) no-repeat;}
.sc_part ul li .ico_pa08::before {background: url(../images/icon8.png) no-repeat;}


/* sc_new */

.sc_new {
    padding: 49px 0 30px;
    box-sizing: border-box;
}
.sc_new .title {
    padding: 0 0 20px 0;
    box-sizing: border-box;
    margin: 0;
}

.sc_new ul {
    overflow: hidden;
}

.sc_new ul li {
    float: left;
    /* width: calc((100% - 120px) / 4);
    margin-right: 20px; */
    /* width: calc(100% / 4); */
    width: calc((100% - 60px) / 4);
    margin-right: 20px;
}

.sc_new ul li:nth-child(4n) {
    margin-right: 0;
}

.sc_new ul li a {
    display: block;
    height: 100%;
    width: 100%;
}

.sc_new ul li p {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    line-height: 1.5em;
    margin-bottom: 20px;

    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* inner_wrap3 : sc_video, sc_notice, sc_sns */

.inner_wrap3 .title {
    margin-bottom: 0;
    padding-bottom: 11px;
    overflow: hidden;
}

.inner_wrap3 {
    overflow: hidden;
    padding-bottom: 50px;
}

.inner_wrap3 > div {
    float: left;
}

.sc_video {
    position: relative;
}
.sc_video p {
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0; left: 0;
    padding: 11px 20px;
    width: 280px;
    box-sizing: border-box;
}
.sc_video p span {
    font-weight: 700;
    color: #fff;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sc_notice {
    margin: 0 20px;
    width: 480px;
}
.sc_notice ul li {
    padding: 8px 0;
}
.sc_notice ul li a {
    display: block;
    line-height: normal;
    
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sc_notice ul li a em {
    color: #09ac43;
    margin-right: 18px;
}

.sc_sns {
    position: relative;
}
.sc_sns > a {
    padding: 10px 15px;
    box-sizing: border-box;
    background: url(../images/sns.gif) no-repeat;
    width: 350px;
    height: 194px;
    display: inline-block;
}

.sc_sns .title {
    padding-top:4px;
    padding-bottom: 0;
}

.sc_sns ul {
    overflow: hidden;
    position: absolute;
    top: 45%; left: 40px;
}
.sc_sns li {
    float: left;
}
.sc_sns li a {
    margin: 0 3px;
    display: block;
}
.sc_sns li .sp_bg3 {
    display: inline-block;
    width: 40px; height: 40px;
}

.sc_sns li:nth-child(1) .sp_bg3 {background-position: 0 0;}
.sc_sns li:nth-child(2) .sp_bg3 {background-position: -40px 0;}
.sc_sns li:nth-child(3) .sp_bg3 {background-position: -80px 0;}
.sc_sns li:nth-child(4) .sp_bg3 {background-position: -120px 0;}
.sc_sns li:nth-child(5) .sp_bg3 {background-position: -160px 0;}
.sc_sns li:nth-child(6) .sp_bg3 {background-position: -200px 0;}


/* sc_banner2 */

.sc_banner2 {
    margin-bottom: 50px;
}


/* sc_slide */

.sc_slide {
    position: relative;
    padding: 50px 0 50px 0;
    border-top: 2px solid #222;
    box-sizing: border-box;
    text-align: right;
}

/* 컨트롤 */
.sc_slide .controls i {
    display: inline-block;
}

.sc_slide .swiper-pagination {
    color: #222;
}

.sc_slide .controls {
    width: 70px;
    display: inline-block;
    height: 32px;
    margin-top: 5px;
    z-index: 15;
    position: relative;
}

/* 컨트롤 이전 */
.swiper-button-prev {
    left: 3px;
}
.sc_slide .swiper-button-prev i {
    display: inline-block;
    /* width: 13px; height: 13px; */
    width: 18px; height: 18px;
    background-position: -45px -43px;
    border: 1px solid #999;
}


/* 컨트롤 버튼 */
.sc_slide .controls .btn {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
    display: inline-block;
    width: 18px; height: 18px;
    z-index: 15;
    border: 1px solid #999;
}
.sc_slide .controls .btn a {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
}

.sc_slide .controls .btn .start i {
    display: inline-block;
    width: 18px; height: 18px;
    background-position: -101px -43px;
}
.sc_slide .controls .btn .stop i {
    display: inline-block;
    width: 18px; height: 18px;
    background-position: -65px -43px;
}

/* 컨트롤 다음 */
.swiper-button-next {
    right: 2px;
    
}
.sc_slide .swiper-button-next i {
    display: inline-block;
    /* width: 13px; height: 13px; */
    width: 20px; height: 20px;
    background-position: -86px -43px;
    border: 1px solid #999;
    box-sizing: border-box;
}


/* sc_site */

.sc_site {
    font-size: 14px;
    margin-bottom: 20px;
}

.sc_site .gnb {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.sc_site button {
    background: #f7f7f7;
    border: none;
    outline: none;
    padding: 16px 0;
    box-sizing: border-box;
    width: 100%;
    /* border-left: 1px solid #d0d0d0; */
    border:1px solid #d0d0d0;
    z-index: 2;
    
}

.sc_site .gnb::after {
    content: '';
    display: block;
    clear: both;
}

.sc_site .gnb > li {
    float: left;
    width: calc(100% / 3);
}

.sc_site .gnb > li:nth-child(1) button,
.sc_site .gnb > li:nth-child(2) button {
    /* border-left: none; */
    border-right: none;
}

.sc_site .sub_wrap {
    height: 0;
    overflow: hidden;

    position: absolute;
    bottom: 50px; left: 0;
    width: 100%;
    z-index: 1;
    background: #fff;
    box-sizing: border-box;
    /* padding: 10px 20px 20px; */
}
.sc_site .sub {
    /* height: 200px; overflow: hidden; padding: 0; */
    border: 1px solid #d0d0d0;
    width: 100%;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}

/* .sc_site .sub.on {
    height: 200px;
    

} */




.sc_site .sub::after {
    content: '';
    display: block;
    clear: both;
}
.sc_site .sub li {
    float: left;
    width: calc(100% / 4);
    margin-top: 10px;
}
.sc_site .sub li a {
    letter-spacing: normal;
    color: #555555;

}


.sc_site .gnb > li button.on {
    background: #e2e2e2;
}





/* main : share */

.title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #dbdbdb; */
    font-size: 24px;
    font-weight: 700;
}